.top-left {
    position: absolute;
    top: 0px;
    left: 800px;
    /* text-align: center; */
  }
.top-right {
    position: absolute;
    top: 0px;
    right: 336px;
    margin-top: 40px;

}
.link{
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.headers{
    border-bottom: 1px solid gray;
    margin-top: 60px;
}

.button{
    background-image: linear-gradient(45deg, red, orange);
    width: 100px;
    text-align: center;
    border-radius: 20px;
}
.button-login{
    background-image: linear-gradient(45deg, red, orange);
    border-radius: 20px;
}
@media only screen and (max-width: 600px){
    .top-left{
        
        /* background-color: orange; */
        left: 100px;
    }
}

